:root {
    --main-color: #333333;
    --second-main-color: #ffffff;
    --contact-us-bg-color: #2690d4;
    --section-one-bg-color: #eaeaea;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17.6px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

a {
    text-decoration: none;
}

.contentWidth {
    max-width: 880px;
    margin: 0 auto;
}

.completeWidth {
    width: 100%;
}

.headContainer {
    min-height: 450px;
    background-color: var(--main-color);
    position: relative;
}

.headContainerImage {
    position: absolute;
    min-height: 450px;
    background-image: url("../images/head-image.png");
    background-size: cover;
    opacity: 0.4;
}

.headContainerInfo {
    position: relative;
    z-index: 1;
}

.headContainerInfo h1 {
    color: var(--second-main-color);
    padding: 108px 0 0;
}

.headContainerInfo p {
    color: var(--second-main-color);
    padding: 1.5rem 0;
}

.headContainerInfo a {
    color: var(--second-main-color);
    background-color: var(--main-color);
    display: inline-block;
    box-sizing: border-box;
    padding: 1.25rem 2rem;
    border: 1px solid #666666;
    font-size: 1rem;
}

.headContainerInfo a:hover {
    color: #000000;
    background-color: var(--section-one-bg-color);
}

.section1 {
    background-color: var(--section-one-bg-color);
    color: var(--main-color);
}

.section1 > div{
    padding: 0 1rem;
}

.section1 h2 {
    padding: 1.7rem 0 0;
}

.section1 p {
    padding: 2rem 0 3rem;
    column-count: 2;
    column-gap: 2.2rem;
}

.section2 {
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 2rem 0;
}

.container {
    display: inline-block;
    background-color: var(--second-main-color);
    color: var(--main-color);
    width: 272px;
}

.container + .container {
    margin-left: 0.9rem;
}

.containerImg {
    width: 100%;
    height: 184px;
    object-fit: cover;
}

.containerContent {
    padding: 1.5rem;
}

.containerContent h3 {
    padding: 1.3rem 0;
}

.containerContent p {
    padding: 1rem 0;
}

.section3 {
    background-color: var(--second-main-color);
    color: var(--main-color);
}

.section3 > div{
    padding: 0 1rem;
}

.section3 h2 {
    padding: 3.5rem 0 0;
}

.section3 p {
    padding: 3rem 0;
}

.section4 {
    color: var(--second-main-color);
}

.section4 .column {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    vertical-align: top;
    padding: 0 2rem;
    min-height: 310px;
}

.section4 .contactUsColumn {
    background-color: var(--contact-us-bg-color);
}

.section4 .aboutColumn {
    background-color: var(--main-color);
}

.section4 h2 {
    padding: 3.5rem 0 3rem;
}

.section4 p {
    padding-bottom: 2.5rem;
}

.section4 a {
    color: var(--second-main-color);
    display: inline-block;
    padding-bottom: 3rem;
}

.footerColumn {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    padding: 2rem 0;
    background-color: #000000;
    color: var(--second-main-color);
    font-size: 1rem;
}

.footerColumn a {
    color: var(--contact-us-bg-color);
}