:root {
    --main-color: #333333;
    --second-main-color: #ffffff;
    --contact-us-bg-color: #2690d4;
    --section-one-bg-color: #eaeaea;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17.6px;
}


.headContainer {
    min-width: 100%;
    min-height: 450px;
    background-color: var(--main-color);
    position: relative;
}

.contentWidth {
    max-width: 870px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

.headContainerImage {
    position: absolute;
    min-width: 100%;
    min-height: 450px;
    background-image: url("../images/head-image.png");
    background-size: cover;
    opacity: 0.4;
}

.headContainerInfo {
    position: relative;
    z-index: 1;
}

.headContainerInfo h1 {
    color: var(--second-main-color);
    padding-top: 106px;
}

.headContainerInfo p {
    color: var(--second-main-color);
    padding: 24px 0;
}

.headContainerInfo a {
    text-decoration: none;
    color: var(--second-main-color);
    background-color: var(--main-color);
    display: inline-block;
    box-sizing: border-box;
    padding: 22px 34px;
    border: 1px solid #666666;
    font-size: 1rem;
}

.headContainerInfo a:hover {
    text-decoration: none;
    color: #000000;
    background-color: var(--section-one-bg-color);
    display: inline-block;
    box-sizing: border-box;
    padding: 24px 34px;
    border: 1px solid #666666;
    font-size: 1rem;
}

.section1 {
    background-color: var(--section-one-bg-color);
    color: var(--main-color);
    width: 100%;
    height: 224px;
    margin: 0 auto;
}

.section1 h2 {
    padding: 32px 0 32px;
}

.section1 p {
    padding-bottom: 18px;
    column-count: 2;
}

.section2 {
    background-color: var(--main-color);
    color: var(--main-color);
    width: 100%;
    height: 568px;
}

.container {
    display: inline-block;
    background-color: var(--second-main-color);
    color: var(--main-color);
    width: 273px;
    height: 500px;
    margin-top: 34px;
}

.containerImg {
    width: 273px;
    height: 184px;
    object-fit: cover;
}

.containerContent {
    padding: 20px;
}

.containerContent h3 {
    font-size: 1rem;
    padding: 21px 0;
}

.containerContent p {
    padding: 18px 0;
}

.container:nth-child(2) {
    margin: 0 18px;
}

.section3 {
    background-color: var(--second-main-color);
    color: var(--main-color);
    width: 100%;
    height: 250px;
}

.section3 h2 {
    padding: 60px 0 50px;
}

.section3 p {
    padding-bottom: 18px;
}

.section4 {
    color: var(--second-main-color);
    width: 100%;
    height: 310px;
    position: relative;
}

.section4 .leftColumn {
    width: 50%;
    height: 310px;
    background-color: var(--contact-us-bg-color);
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    left: 0;
}

.section4 .rightColumn {
    width: 50%;
    height: 310px;
    background-color: var(--main-color);
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    right: 0;
}

.section4 h2 {
    padding: 60px 0 50px;
}

.section4 p {
    padding-bottom: 18px;
}

.section4 a {
    text-decoration: none;
    color: var(--second-main-color);
}

footer {
    background-color: #000000;
    color: var(--second-main-color);
    width: 100%;
    height: 97px;
    font-size: 1rem;
    line-height: 100%;
    position: relative;
}

.footerLeft {
    width: 50%;
    height: 97px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    padding-top: 40px;
}

.footerRight {
    width: 50%;
    height: 97px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    padding-top: 40px;
}

.footerRight a {
    text-decoration: none;
    color: var(--contact-us-bg-color);
}